*,
*::before,
*::after {
  box-sizing: border-box;
}

/*Custom Properties */

:root {
  --ff-primary: 'Source Sans Pro', sans-serif;
  --ff-secondary: 'Source Code Pro', monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #16e0bd;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
}

@media(min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

/*General Styles */

.home {

  flex:var(--condiv-flex);
  background-color: var(--clr-dark);
  color:var(--clr-light);
  margin: 0;
  font-family: Sans;
  font-size: var(--fs-body);
}

.App {
  text-align: center;
  width: 100vw;
  min-height: 100vh;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
}

.header {
  background-color: grey;
  height: 100px;
  padding: 10px;
  color: white;
  font-family: var(--ff-primary);
}

.App-intro {
  font-size: large;
}


.profilepic {
  width:700px;
  height:800px;
}


/* Typography */
h1,
h2,
h3 {
  line-height: 1.1;
  margin:0;
}

h1 {font-size: var(--fs-h1)}
h2 {font-size: var(--fs-h2)}
h3 {font-size: var(--fs-h3)}




/* css for active class */
.active
{
font-weight: bolder;
}


/* Style The Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 30px;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: absolute;
  right: 0px;
  width: 300px;
  padding: 10px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}